<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="srsDBEntities" connectionString="metadata=res://*/SrsdbContext.csdl|res://*/SrsdbContext.ssdl|res://*/SrsdbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=shootingregistrationsystem.database.windows.net;initial catalog=srsDB;persist security info=True;user id=srsAdmin;password=Nl62521448;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>